<h5>*ngIf</h5>
<div *ngIf="cursos.length > 0">
  Lista de cursos aqui.
</div>

<div *ngIf="cursos.length == 0">
  Não existem cursos para serem listados. 
</div>

<div *ngIf="mostrarCursos">
  Lista de cursos aqui.
</div>

<div *ngIf="!mostrarCursos">
  Não existem cursos para serem listados.  
</div>

<br>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<h5>Hidden como alternativa</h5>
<div [hidden]="!mostrarCursos">
  Lista de cursos aqui.
</div>
<div [hidden]="mostrarCursos">
  Não existem cursos para serem listados.  
</div>

<!-- COMO O NGIF FAZ POR BAIXO DOS PANOS -->
<h5>Removendo o * e usando o template</h5>
<!-- EXEMPLO 1 -->
<ng-template [ngIf]="mostrarCursos">
    <div>
        Lista de cursos aqui.
    </div>
</ng-template>
<!-- EXEMPLO 2 -->
<div template="ngIf mostrarCursos">
    Lista de cursos aqui.
</div>